.dp-1 {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  z-index: 100;
}
.dp-2 {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  z-index: 200;
}
.dp-3 {
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14),
    0 1px 8px 0 rgba(0, 0, 0, 0.12);
  z-index: 300;
}
.dp-4 {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 400;
}
.dp-6 {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  z-index: 600;
}
.dp-8 {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  z-index: 800;
}
.dp-12 {
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
    0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12);
  z-index: 1200;
}
.dp-16 {
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2),
    0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12);
  z-index: 1600;
}
.dp-24 {
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2),
    0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
  z-index: 2400;
}

.dark-theme {
  background: #121212;
  color: rgba(255, 255, 255, 0.87);
  .dp-1 {
    background: #1f1f1f;
  }
  .dp-2 {
    background: #242424;
  }
  .dp-3 {
    background: #262626;
  }
  .dp-4 {
    background: #292929;
  }
  .dp-6 {
    background: #2e2e2e;
  }
  .dp-8 {
    background: #303030;
  }
  .dp-12 {
    background: #363636;
  }
  .dp-16 {
    background: #383838;
  }
  .dp-24 {
    background: #3b3b3b;
  }
}

.ripple {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  .ripple-child {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    border-radius: 100%;
    animation: rippleDrop 0.5s linear;
    opacity: 0;
  }
}

.dark-theme {
  .ripple-child {
    background: rgba(255, 255, 255, 0.4);
  }
}
@keyframes rippleDrop {
  100% {
    transform: scale(2);
    opacity: 0;
  }
  0% {
    transform: scale(0);
    opacity: 1;
  }
}

.h1 {
  font-size: 96px;
  letter-spacing: -1.5px;
  font-weight: lighter;
}
.h2 {
  font-size: 60px;
  letter-spacing: -0.5px;
  font-weight: lighter;
}
.h3 {
  font-size: 48px;
  letter-spacing: 0px;
}
.h4 {
  font-size: 34px;
  letter-spacing: 0.25px;
}
.h5 {
  font-size: 24px;
  letter-spacing: 0px;
}
.h6 {
  font-size: 20px;
  letter-spacing: 0.15px;
  font-weight: 500;
}
.subtitle-1 {
  font-size: 16px;
  letter-spacing: 0.15px;
}
.subtitle-2 {
  font-size: 14px;
  letter-spacing: 0.1px;
  font-weight: 500;
}
.body-1 {
  font-size: 16px;
  letter-spacing: 0.5px;
}
.body-2 {
  font-size: 14px;
  letter-spacing: 0.25px;
}
.button {
  font-size: 14px;
  letter-spacing: 1.25px;
  font-weight: 500;
  text-transform: uppercase;
}
.caption {
  font-size: 12px;
  letter-spacing: 0.4px;
}
.overline {
  font-size: 10px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

ul.m-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
  padding: 8px 0;

  li.m-item {
    min-height: 48px;
    padding: 0 16px;
    line-height: 48px;
    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }
  }
}
