}

.light-theme-elevation,
.dark-theme-elevation {
  padding-bottom: 16px;
  padding-top: 16px;
  div {
    text-align: center;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.button-example {
  padding-bottom: 16px;
  padding-top: 16px;
  button {
    height: 56px;
    border: 0;
    outline: 0;
    color: #fff;
    &:nth-child(1) {
      background: red;
    }
    &:nth-child(2) {
      background: green;
    }
    &:nth-child(3) {
      background: blue;
    }
  }
}
.text-examples {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.m-container-example {
  padding-top: 16px;
  padding-bottom: 16px;
  & div {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(85, 78, 78, 0.2);
    height: 100px;
    padding: 10px;
  }
}
