@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  div {
    width: 200px;
    height: 200px;
    margin: 20px 20px;
    text-align: center;
    line-height: 200px;
  }
  button {
    background: rgb(129, 12, 207);
    border: none;
    color: #fff;
    height: 48px;
    width: 240px;
    margin: 20px;
    &:nth-child(2) {
      background: red;
    }
    &:nth-child(3) {
      background: rgb(19, 145, 92);
    }
  }
}

.container-text {
  display: flex;
  flex-direction: column;
  & span {
    margin: 10px;
  }
}
